/* .cadre{
    background-color: white;
    height: 150px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
} */
.garb{
    background-color: #172B4D !important;
    height: 300px;
    width: 350px;
    margin-left: 450px;
    margin-top: 33px;
    border-radius: 7px;
    color: white;
    padding: 50px;   
    text-align: center;
    font-size: 25px;
}

.anim{
    font-size: 30px;
    padding-bottom: 2px;
    font-weight: 900;
}
.ani{
    font-size: 30px;
    padding-bottom: 2px;
    font-weight: 900;
}
.sd{
    margin-right: 210px;
}
.sdv{
    margin-right: 250px;
}

.bienvenue{
    color: white;
}

.back{
    background-image: url(../image/fem.jpg);
    background-size: cover;
}
.backe{
    background-color: #F1F3F6;
}
.im{
    padding-top: 5px;
}

.farida{
    background-color: #172B4D !important;
    text-align: center !important;
    font-weight: bold !important;
    color: white !important;
    font-size: 35px;
    
}
.faridas{
    height: 10px;
}
 /* .faridas{
    align-items: center;
    height: 70px;
    padding: 0 8%;
    display: flex !important;
}  */

.mou{
    padding-left: 500px;
}
.ul{
width: 100%;
text-align: center;
}

.li{
display: inline-block;
list-style: none;
margin: 10px 20px;
}

.aa{
    text-decoration: none;
    color: white;
}


.ty{
position: relative;
width: 80%;
padding: 10px 10%;
display: flex !important;
align-items: center;
justify-content: space-between;
background:#172B4D ;
color: white;
} 

.profile{
    border-radius: 50%;
    cursor: pointer;
    margin-right: 5px;
}
.naf{
    display: flex;
    border-radius: 20px;
    border: none;
}

.nom{
    width: 135px;
    padding-top: 10px;
    font-weight: 600;
    font-size: 15px;
}

.imd{
    /* padding-top: 5px;
    padding-left: 150px; */
    cursor: pointer;
}
.edw{
    width: 150px;
    height: 35px;
    border: outset;
    border-color: white;
    font-size: 20px;
}

.edw:hover{
cursor: pointer;
color: white;
background-color: #172B4D;
border-radius: 10px;
box-shadow: white;
}

.footer{
    background-color: #172B4D;
    margin-top: 33px;
    height: 35px;
    text-align: center;
    color: white;
    padding-top: 30px;
}

.voir{
 color: white;
 font-size: 20px;
 margin-right: 40px;
}

.vois{
    color: #172B4D ;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: outset;
    border-color: white
   }

.gb{
    position: relative;
    margin: 20px;
}

.gt{
    position: relative;
    margin: 20px;
}

.tr{
height: 38px;
width: 315px;
font-size: 15px;
border-radius: 5px;
border: outset;
border-color: white
}

.td{
    height: 33px;
    width: 230px;
    font-size: 15px;
    border-radius: 5px;
    border: outset;
    border-color: white;
    }

.sous-m1{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

 .sous-m1.open-menu{
    max-height: 900px;
} 
.table{
    width: 100%;
}
.table_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20 px;
    background-color: #AE0001;
}
.table_header p{
    color: white;
}

.button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
}
td button:nth-child(1){
    background-color: #F1F3F6;
}

td button:nth-child(2){
    background-color: #F1F3F6;
}
.op{
    padding: 10px 20px;
    margin: 0 10px ;
    outline: none;
    border: 1px solid violet;
    border-radius: 6px;
    color: violet ;
}

.add_new{
    padding: 10px 20px;
    color: #fff;
    background-color: green;
}
.table_section{
    height: 650px;
    overflow: auto;
}
table{
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;
}

thead th{
    position: sticky;
    top: 0;
    background-color: #ccc;
    color: #172B4D;
    font: size 15px; 
}
th,td{
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;   
}
tr:hover td{
    color: #F1F3F6;
    cursor: pointer;
    background: #172B4D;
    opacity: 0.8;
    font-weight: 900;
    font-size: 15px;
}
.buty a{
    text-decoration: none;
    color: #F1F3F6;
}
.buty{
    color: #F1F3F6;
    background: green;
    border: unset;
    border-radius: 7px;
    border-color: white;
    height: 27px;
    width: 85px;
    margin-top: 20px;
}


.container{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin-top: -70px;
}

.card{
    width: 400px;
    height: 440px;
    border-radius: 12px;
    background-color: #AE0001;
    padding-top: 2%;
    overflow: hidden;
}

.card .title h2{
     font-family: Gilroy;
     color: white;
     font-size: 2rem;
     text-align: center;
     padding: 2%;
     margin-top: -20px;
}

.card .details{
    background-color: #172B4D;
    height: 35%;
    margin-top: 12px;
    border-top-left-radius: 75px;
    padding: 5%;
    color: white;
    font-family: Open Sans;
    display: flex;
    justify-content: center;
}
.coli{
    margin-left: 45px;
    margin-top: 32px;
}
.card .details .col{
    width: 50%;
}
.card .details .col{
    width: 50%;
}
.card .details li{
    margin-top: 2%;
    font-weight: 1rem;
}
.card .title p{
    font-family: Open Sans;
    color: white;
    text-align: center;
    font-size: 18px;
    margin-top: -30px;
}
.card .image .inner{
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-radius: 50%;
}
.card .image{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
    
}
.card .image .outer{
    background-color: #172B4D;
    height: 130px;
    width: 130px;
    border-radius: 50%  ;
    display: flex;
     justify-content: center;
     align-items: center;
}

.card .image .inner img{
    width: 100% ;
}

.card .name{
    color: white;
    text-align: center;
    font-family: Gilroy;
    font-size: 1.5rem;
    font-weight: bold ;
    margin-top: 2%;
}

.ecole{
    font-size: 30px;
    font-weight: 300;
    margin-left: 50px;
    color: green;
}
.cole{
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 300;
    font-size: 25px;
}
.ton:hover{
    cursor: pointer;
    box-shadow: 0 0 1rem var(#172B4D);
}
.ton{
    margin-left: 50px;
    height: 35px;
    text-decoration: none;
    border-radius: 8px;
    color: white;
    background: #172B4D;
    border-color: white;
}

.ton a{
    color: white;
    text-decoration: none;

}

.sous-m2{
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.sous-m3 hr{
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 7px 0 5px;
    
}

/* .sous-m3{
    display: flex;
align-items: center;
} */

.toi{
    margin-top: 20px;
}

.disp{
    display: flex;
}

.dispi{
   margin-left: 100px;
  
}
.tris{
    background: white;
    height: 450px;
    display: flex;
    position: relative;
    margin: 0 20px 0 20px;
    justify-content: space-around;
}
.det{
    background: white;
    border-radius: 10px;
    width: 500px;
    color: #172B4D;
    font-size: 20px;
    font-weight: 600;
}
/* .sawa{
    display: flex;
}

.jutr{
    display: flex;
    width: 180px;
    border-radius: 15px;
    border-color: white;
} */
.dete{
    background: gray;
    border-radius: 10px;
    width: 500px;
    color: #172B4D;
    font-size: 20px;
    font-weight: 600;
}

.update:hover{
    color:#AE0001;
    font-weight: 600;
    font-size: 18px;
}

.update{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-top: -23px;
}

.update h4{
    width: 100%;
}

.update img{
    width: 25px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.update span{
    font-size: 22px;
    transition: transform 0.5s;
}

.update:hover span{
    transition: translateX(5px);
}
.update:hover h4{
    font-weight: 900;
}
.dis{
    display: flex;
    justify-content: space-between;
}

.vf{
    display: flex;
    justify-content: space-between;
    height: 450px;
    background: white;
    width: 1000px;
    text-align: center;
    margin-left: 200px;
    margin-top: 25px;
    border-radius: 8px;
}
.form{
    background: #172B4D;
    height:450px ;
    width:700px; ;
    margin-top: -24px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 2;
    flex-direction: column;
    inset: 4px;
    justify-content: space-between;
    padding-left: 40px;
}
.vert{
    color: green;
}
.rouge{
    color: #AE0001;
}
.inscrire{
    color: white;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1rem;
    padding-top: 15px;
    font-size: 30px;
}

.form-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.aris{
display: flex;
flex-direction: column;

}

.span{
    margin-right: 250px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    /* position: absolute; */
    left: 0;
    pointer-events: none;
}

.spane{
    margin-right: 155px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    /* position: absolute; */
    left: 0;
    pointer-events: none;
}

.spane1{
    margin-right: 175px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    /* position: absolute; */
    left: 0;
    pointer-events: none;
}

.spane2{
    margin-right: 130px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    /* position: absolute; */
    left: 0;
    pointer-events: none;
}

.span3{
    margin-right: 50px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    /* position: absolute; */
    left: 0;
    pointer-events: none;
}


.inp-box{
    position: relative;
    width: 600px;
    margin-top: 30px;
}
.vf form .inp-box input{
    position: relative;
    width: 85%; 
    padding: 8px 4px 4px;
    background: transparent;
    outline: none;
    box-shadow: none;
    color: white;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5em;
    z-index: 10;
    border-color: #F1F3F6;
    border-radius: 5px;
}

.put{
    position: relative;
    width: 90%; 
    padding: 8px 4px 4px;
    background: transparent;
    outline: none;
    box-shadow: none;
    color: white;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5em;
    z-index: 10;
    border-color: #F1F3F6;
    border-radius: 5px;
}
.vf form .inp-box input:hover{

background: #F1F3F6;
color: black;
}
.put:hover{

    background: #F1F3F6;
    color: black;
    }
.select{
    background: #F1F3F6;
    color: #172B4D;
}    
.fri{
    background: #172B4D;
    color: white;
    border: white;
}

.span:valid,
.span:focus,
.box:valid,
.box:focus
{
    color: #fff;
    font-size: 0.75em;
    tansform: translateY(-34px);
   
}
.jus{
padding-top: 100px;
}